/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
#box {

    padding-bottom: 80px;
}

#boxcontent {
    margin-top: 30px;
    padding-bottom: 30px;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline-block;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

/*-- //Reset-Code --*/

.title {
    font-size: 44px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
}

.title-wls-text p {
    font-size: 20px;
    color: #888;
    letter-spacing: 1px;
    padding: 0em 13em;
}

.about-wthree-about h5,
.sevice-ser-txt h4,
.client-txt-info h4,
.footer-info-bottom h4,
.table-txt-grid h4,
.team-grid h4 {
    font-size: 22px;
    color: #096fdc;
    text-transform: capitalize;
    font-weight: 600;
}

.about-wthree-about p,
.sevice-ser-txt p,
.client-txt-color p,
.mid-text-info p,
.footer-office-hour p,
.footer-office-hour p a,
.about-middle-txt p,
.footer-contact-list p,
.footer-contact-list p a {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 23px;
}

.clr,
.color-white h4 {
    color: #fff;
}

.title-white p {
    color: #dadada
}

.footer-office-hour p,
.footer-office-hour p a {
    color: #cccccc;
}

/* header */

/* navigation */

/* CSS Document */

.toggle-2,
.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}

#logo a {
    float: left;
    display: initial;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

/* Styling the links */

nav ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    background: transparent;
    text-transform: uppercase;
    padding: 7px 18px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	opacity:0.7;
}

nav ul li ul li:hover {
    background: #f8f9fa;
}

.menu li .drop-text:hover {
    color: #000;
    border: none;
}

/* Background color change on Hover */

.menu li a.active{
    color: #fff;
	opacity:1;
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.menu li a:hover {
    color: #fff;
	opacity:1;
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    top: 36px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -1px 1px 5px black;
}

/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #000;
    padding: 5px 10px;
    display: block;
    background: transparent;
}

/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */

li>a:only-child:after {
    content: '';
}

a.reqe-button {
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px;
}

/* Media Queries
--------------------------------------------- */

@media(max-width: 800px) {
    nav a {
        font-size: 13px;
    }
}

@media all and (max-width: 767px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 6px 17px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        border-radius: 50px;
        cursor: pointer;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 138px;
        padding: 10px 18px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 1px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .menu .toggle:hover {
		opacity: 1;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .toggle:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    label.toggle.toogle-2 {
        background: transparent;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
		opacity: 0.8;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        background: #096fdc;
        padding: 15px 0;
        text-align: center;
        width: 100%;  
		z-index: 999;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 15px;
    }
    /* 
nav ul li ul li .toggle,
nav ul ul a {
background-color: #212121;
} */
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }
    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav a {
        color: #000;
        font-size: 15px;
    }
    .menu li.active a,
    .menu li a:hover {
        background: transparent;
    }
}

@media all and (max-width: 568px) {
    nav a,
    .menu .toggle,
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        font-size: 14px;
    }
}

@media all and (max-width: 320px) {
    nav a,
    .menu .toggle,
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        font-size: 13px;
    }
}

/*-- dropdown --*/

/* banner */

.main-top {
    background: url(../images/b2.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

.headder-top {
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 1em 1em;
}

.style-banner {
    padding-top: 21em;
}

.style-banner p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
}

.main-banner h4 {
    color: #fff;
    font-size: 4.5em;
    font-weight: 600;
    text-shadow: 2px -1px 4px #000;
}

.read-buttn a,
.view-buttn a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
    border-radius: 0px;
    background-color: rgba(208, 208, 208, 0.4);
    padding: 10px 33px;
    border: 1px solid #ffffff;
    opacity:0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.read-buttn a {
    margin-right: 15px;
}

.read-buttn a:hover,
.view-buttn a:hover,
.view-price a:hover {
    opacity:1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* //banner */

/*--inner-banner --*/

.banner-inner {
    text-align: center;
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}

/* page details */

ul.short_ls li a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

ul.short_ls li {
    list-style: none;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
}

.using-border {
    width: 100%;
    border: none;
    background: #096fdc;
    text-align: center;
}

/* //page details */

/*-- //inner-banner --*/

/* about */

.about-icon-position img {
    position: absolute;
    top: -42px;
    left: 84px;
    width: 28%;
    padding: 7px;
    border: 2px solid #096fdc;
    background: #bdbdbd;
    border-radius: 50px;
    box-shadow: 1px -1px 9px #8c8c8c;
}

.list-icon-txt ul li span {
    font-size: 20px;
    display: inline-block;
    color: #000;
}

.list-icon-txt ul li p {
    font-size: 16px;
    display: inline-block;
    padding-left: 7px;
    color: #000;
}

.about-img-top img {
    box-shadow: -1px 1px 13px #8c8c8c;
}

/*--// about-- */

/* service */

.service {
    background: #096fdc;
}

.ser-sevice-grid {
    padding: 3em 3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: #fff;
    border: #fff 2px solid;
}

.sevice-w3layouts-inner span {
    font-size: 46px;
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.ser-sevice-grid:hover span {
    color: #096fdc;
}

/*--// service-- */

/*-- price-- */

.w3ls-bottom {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(189, 189, 189, 0.9);
    text-align: center;
    -moz-border-radius: 10px 10px 0px 0px;
}

.grid-one {
    background: #096fdc;
}

.price-w3layouts-table h4 {
    font-size: 16px;
    color: #000;
}

.price-w3layouts-table span.sup {
    font-size: 16px;
    color: #565656;
}

.price-w3layouts-table span.number-price {
    font-size: 32px;
    color: #000;
    font-weight: 600;
}

.price-list-txt ul li {
    font-size: 14px;
    color: #000;
    padding-top: 11px;
    display: block;
}

.price-grid-one ul li,
.mid-text-info p {
    color: #a9a9a9;
}

.price-images {
    padding: 2.5em 2em;
}

.view-price a {
    border-radius: 3px;
    background: #e0e0e0;
    color: #096fdc;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    border-radius: 0px;
    background-color: rgba(208, 208, 208, 0.4);
    font-size: 14px;
    padding: 8px 18px;
}

.color-black a {
    background: #000;
    color: #fff;
}

/*--//price--*/

/*--// client-- */

.clients {
    background: #f2f2f2;
}

.client-txt-color img {
    border-radius: 100px;
    border: 2px solid #000;
}

.client-txt-color p span {
    font-size: 22px;
    color: #096fdc;
}

/*--// clients-- */

/* --busness-tips-- */

.mid-text-info {
    padding: 4em 3em;
    background: #f5f5f5;
}

.busness-tip-one {
    background: url(../images/bb1.jpg)no-repeat 0px 0px;
}

.busness-tip-two {
    background: url(../images/bb2.jpg)no-repeat 0px 0px;
}

.busness-tip-two,
.busness-tip-one {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}

.mid-text-info h4 {
    font-size: 24px;
    color: #096fdc;
    line-height: 39px;
}

/* --//busness-tips-- */

/* team */

.team-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.team-image img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.team-image .social-icons {
    position: absolute;
    bottom: -32%;
    width: 100%;
    text-align: center;
    background: rgba(181, 180, 180, 0.7);
    padding: 26px 0px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.team-image .social-icons a:hover i {
    color: #b60b4e;
}

.team-image:hover .social-icons {
    bottom: -1px;
}

.team-image:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team-image .social-icons a:hover {
    bottom: 5px;
}

/*--//team-- */

/* popup */

.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 430px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #686de0;
}

/* //popup */

/*--//gallery-- */

/*-- contact-- */

.contact-forms input,
.contact-forms textarea {
    font-size: 14px;
    color: #000;
    padding: .9em .7em;
    background: #f3f3f3;
    outline: none;
    border: none;
    border-radius: 0px;
    outline: none !important;
    box-shadow: 0px 0px 3px #bdbcbc;
}

.contact-forms textarea {
    resize: none;
    height: 12em;
}

.contact-forms ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.contact-forms ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.contact-forms :-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.contact-forms :-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

button.sent-butnn {
    color: #fff;
    background: #096fdc;
    font-size: 16px;
    padding: 10px 63px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	opacity:0.7;
}

button.sent-butnn:hover {
    background: #096fdc;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	opacity:1;
}

.address_mail_footer_grids iframe {
    width: 100%;
    height: 15em;
    padding: 10px;
    border: 1px solid;
}

.footer-icon span,
.sevice-one-inner span {
    font-size: 24px;
    color: #000000;
    line-height: 48px;
}

.ser-sevice-inner {
    background: #ffffff;
    padding: 2em 2em;
    border: #000 solid 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.ser-sevice-inner:hover {
    background: rgba(0, 113, 236, 0.1);
}

/*--//contact-- */

/* --footer-- */

.footer-office-hour ul li {
    display: block;
}

footer {
    background: #000;
}

.footer-office-hour ul li h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.footer-office-hour ul li span {
    font-size: 13px;
    color: #096fdc;
    font-style: italic;
}

.newsletter input[type="email"] {
    outline: none;
    padding: 13px 15px;
    color: #000;
    font-size: 14px;
    width: 80%;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid #fff;
}

button.btn1 {
    width: 20%;
    color: #fff;
    border: 1px solid #fff;
    padding: 11.5px 0;
    font-size: 16px;
    background: #096fdc;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
    opacity:0.7;
}

button.btn1:hover,
.icons ul li a span:hover,
.team-image .social-icons a span:hover {
    opacity:1;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.move-top {
    width: 40px;
    height: 40px;
    background: url(../images/arrow.png) no-repeat 0px 0px;
    display: inline-block;
}

.icons ul li a span,
.team-image .social-icons a span {
    margin-right: 0.5em;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    opacity:0.7;
}

.footer-main p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}

.footer-main p a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-main p a {
    font-weight: 600;
    font-size: 14px;
    color: #096fdc;
}

.footer-office-hour p a:hover,
.footer-contact-list p a:hover {
    color: #096fdc;
}

.footer-main-grid h2 a {
    font-size: 25px;
    text-align: center;
    color: #fff;
}

/* --//footer-- */

/*--responsive--*/

@media(max-width:1920px) {}

@media(max-width:1680px) {}

@media(max-width:1600px) {}

@media(max-width:1440px) {
    .main-top {
        min-height: 680px;
    }
    .style-banner {
        padding-top: 16em;
    }
    .main-banner h4 {
        font-size: 4.1em;
    }
    .title {
        font-size: 41px;
    }
    .title-wls-text p {
        font-size: 19px;
    }
    .sevice-w3layouts-inner span {
        font-size: 44px;
    }
    .ser-sevice-grid {
        padding: 2.5em 2.7em;
    }
    .price-images {
        padding: 2.3em 2em;
    }
    .price-w3layouts-table span.number-price {
        font-size: 30px;
    }
    .mid-text-info h4 {
        font-size: 22px;
        line-height: 36px;
    }
    .mid-text-info {
        padding: 3.7em 2.5em;
    }
    .banner-inner {
        min-height: 266px;
    }
    .contact-forms textarea {
        height: 11em;
    }
    button.sent-butnn {
        padding: 9px 61px;
    }
}

@media(max-width:1366px) {
    #logo a {
        font-size: 37px;
    }
    .about-wthree-about h5,
    .sevice-ser-txt h4,
    .client-txt-info h4,
    .footer-info-bottom h4,
    .table-txt-grid h4,
    .team-grid h4 {
        font-size: 20px;
    }
    .client-txt-color p span {
        font-size: 20px;
    }
    .read-buttn a,
    .view-buttn a {
        padding: 9px 31px;
    }
    .icons ul li a span,
    .team-image .social-icons a span {
        width: 33px;
        height: 33px;
        line-height: 33px;
    }
    .about-icon-position img {
        top: -37px;
    }
    .ser-sevice-inner {
        padding: 1.5em 1.5em;
    }
}

@media(max-width:1280px) {
    .main-top {
        min-height: 600px;
    }
    .style-banner {
        padding-top: 14em;
    }
    .main-banner h4 {
        font-size: 3.7em;
    }
    .style-banner p {
        font-size: 17px;
    }
    .sevice-w3layouts-inner span {
        font-size: 40px;
    }
    .mid-text-info {
        padding: 3.3em 2.2em;
    }
    .mid-text-info h4 {
        font-size: 21px;
        line-height: 33px;
    }
    .footer-main-grid h2 a {
        font-size: 23px;
    }
    .address_mail_footer_grids iframe {
        height: 13em;
    }
}

@media(max-width:1080px) {
    nav ul li a {
        padding: 7px 14px;
    }
    .title {
        font-size: 39px;
    }
    .title-wls-text p {
        padding: 0em 10em;
    }
    .about-icon-position img {
        top: -34px;
        left: 72px;
        width: 31%;
    }
    .price-w3layouts-table span.number-price {
        font-size: 28px;
    }
    .price-w3layouts-table span.sup {
        font-size: 15px;
    }
    .mid-text-info {
        padding: 2.8em 1.8em;
    }
    .client-txt-color p span {
        font-size: 18px;
    }
    button.btn1 {
        padding: 9px 0;
    }
    .newsletter input[type="email"] {
        padding: 9px 11px;
    }
    .team-image .social-icons {
        bottom: -38%;
    }
}

@media(max-width:1050px) {
    nav ul li a {
        font-size: 14px;
    }
    #logo a {
        font-size: 34px;
    }
    .read-buttn a,
    .view-buttn a {
        padding: 8px 27px;
        font-size: 15px;
    }
    .title-wls-text p {
        padding: 0em 8em;
        font-size: 18px;
    }
    .sevice-w3layouts-inner span {
        font-size: 38px;
    }
    .ser-sevice-grid {
        padding: 2.2em 2.4em;
    }
    .price-images {
        padding: 2em 1.5em;
    }
    .banner-inner {
        min-height: 225px;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .7em .7em;
    }
    button.sent-butnn {
        font-size: 15px;
    }
}

@media(max-width:1024px) {
    .main-top {
        min-height: 560px;
    }
    .main-banner h4 {
        font-size: 3.5em;
    }
    .style-banner p {
        font-size: 16px;
    }
    .about-wthree-about h5,
    .sevice-ser-txt h4,
    .client-txt-info h4,
    .footer-info-bottom h4,
    .table-txt-grid h4,
    .team-grid h4 {
        font-size: 19px;
    }
    .footer-main-grid h2 a {
        font-size: 21px;
    }
    .contact-forms textarea {
        height: 10em;
    }
}

@media(max-width:991px) {
    .title-wls-text p {
        padding: 0em 4em;
    }
    .about-icon-position img {
        top: -42px;
        left: 81px;
        width: 24%;
    }
    .corpo-about:nth-child(3),
    .corpo-about:nth-child(4) {
        margin-top: 61px;
    }
    .corpo-about:nth-child(1),
    .corpo-about:nth-child(2) {
        margin-top: 26px;
    }
    .about-icon-position img {
        left: 121px;
    }
    .ser-blog-grid:nth-child(2),
    .ser-blog-grid:nth-child(3),
    .pricing-grid:nth-child(3),
    .pricing-grid:nth-child(4) {
        margin-top: 26px;
    }
    .newsletter input[type="email"] {
        padding: 6px 11px;
    }
    button.btn1 {
        padding: 6px 0;
    }
    .busness-tip-two,
    .busness-tip-one {
        min-height: 205px;
    }
    .list-icon-txt ul li p {
        font-size: 14px;
    }
    .team-row-grid:nth-child(3),
    .team-row-grid:nth-child(4) {
        margin-top: 25px;
    }
    .about-middle-txt {
        margin-top: 25px;
    }
    .footer-icon span,
    .sevice-one-inner span {
        font-size: 22px;
    }
}

@media(max-width:900px) {
    .main-banner h4 {
        font-size: 3.2em;
    }
    .title {
        font-size: 37px;
    }
    .title-wls-text p {
        font-size: 17px;
    }
    .ser-sevice-grid {
        padding: 2em 2em;
    }
    .price-list-txt ul li {
        padding-top: 9px;
    }
    .banner-inner {
        min-height: 209px;
    }
    .footer-icon span,
    .sevice-one-inner span {
        line-height: 39px;
    }
    .contact-forms textarea {
        height: 9em;
    }
}

@media(max-width:800px) {
    .main-top {
        min-height: 532px;
    }
    .style-banner {
        padding-top: 13em;
    }
    nav ul li a {
        padding: 7px 10px;
    }
    .headder-top {
        padding: 1em .5em;
    }
    .address_mail_footer_grids iframe {
        height: 12em;
    }
}

@media(max-width:768px) {
    .style-banner p {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .sevice-w3layouts-inner span {
        font-size: 35px;
    }
    .price-images {
        padding: 1.5em 1.2em;
    }
    .view-price a {
        padding: 7px 15px;
    }
    .mid-text-info h4 {
        font-size: 20px;
        line-height: 31px;
    }
    .icons ul li a span,
    .team-image .social-icons a span {
        width: 31px;
        height: 31px;
        line-height: 31px;
        font-size: 14px;
    }
    .ser-sevice-inner {
        padding: 1.2em 1.3em;
    }
}

@media(max-width:767px) {
    .title-wls-text p {
        font-size: 16px;
        padding: 0em 1em;
    }
    .about-icon-position img {
        left: 80px;
        width: 31%;
    }
    .title {
        font-size: 35px;
        letter-spacing: 1px;
    }
    .price-w3layouts-table h4 {
        font-size: 15px;
    }
    #logo a {
        font-size: 32px;
    }
    .footer-info-bottom:nth-child(2),
    .footer-info-bottom:nth-child(3),
    .ser-cor-grid:nth-child(2),
    .ser-cor-grid:nth-child(3) {
        margin-top: 22px;
    }
    button.sent-butnn {
        font-size: 14px;
        padding: 8px 54px;
    }
}

@media(max-width:736px) {
    .main-banner h4 {
        font-size: 2.8em;
    }
    .read-buttn a,
    .view-buttn a {
        padding: 8px 20px;
        font-size: 14px;
    }
    .price-w3layouts-table span.number-price {
        font-size: 26px;
    }
    .mid-text-info {
        padding: 2.4em 1.8em;
    }
    .contact-forms textarea {
        height: 8em;
    }
}

@media(max-width:667px) {
    .main-top {
        min-height: 498px;
    }
    .style-banner {
        padding-top: 12em;
    }
    button.btn1 {
        font-size: 15px;
    }
    .banner-inner {
        min-height: 194px;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .5em .7em;
    }
}

@media(max-width:640px) {
    .ser-sevice-grid {
        padding: 1.8em 1.8em;
    }
    .sevice-w3layouts-inner span {
        font-size: 32px;
    }
    .mid-text-info {
        padding: 2em 1.5em;
    }
    .icons ul li a span,
    .team-image .social-icons a span {
        width: 29px;
        height: 29px;
        line-height: 28px;
    }
}

@media(max-width:600px) {
    .main-banner h4 {
        font-size: 2.5em;
    }
    .read-buttn a,
    .view-buttn a {
        letter-spacing: 1px;
    }
    .price-images {
        padding: 1.5em 1em;
    }
    .title {
        font-size: 33px;
    }
    .mid-text-info h4 {
        font-size: 19px;
    }
}

@media(max-width:568px) {
    .about-icon-position img {
        left: 218px;
        width: 15%;
    }
    .corpo-about:nth-child(2) {
        margin-top: 60px;
    }
    .pricing-grid:nth-child(2) {
        margin-top: 25px;
    }
    .mid-text-info {
        padding: 1.8em 1.5em;
    }
    .clients-row-grid:nth-child(2) {
        margin-top: 25px;
    }
    .color-img-cols {
        width: 50%;
    }
    .team-row-grid {
        width: 50%;
    }
    .ser-sevice-inner {
        padding: 1em 1.2em;
    }
    .gallery-mid-two {
        width: 50%;
    }
    .gallery-img-grid:nth-child(2) {
        margin-top: 20px;
    }
    .address-grid {
        margin-top: 25px;
    }
}

@media(max-width:480px) {
    .main-top {
        min-height: 447px;
    }
    .style-banner {
        padding-top: 10.5em;
    }
    .main-banner h4 {
        font-size: 2.2em;
    }
    .title-wls-text p {
        font-size: 15px;
    }
    .about-icon-position img {
        left: 184px;
        width: 15%;
        top: -38px;
    }
    .footer-main p {
        letter-spacing: 1px;
    }
}

@media(max-width:440px) {
    #logo a {
        font-size: 29px;
    }
    nav ul li a {
        padding: 4px 10px;
    }
    .price-w3layouts-table h4 {
        font-size: 14px;
    }
    .team-row-grid {
        width: 67%;
        margin: 0px auto;
    }
    .team-row-grid:nth-child(2) {
        margin-top: 25px;
    }
    .popup {
        max-width: 347px;
    }
}

@media(max-width:414px) {
    .about-icon-position img {
        left: 161px;
        width: 17%;
    }
    .title {
        font-size: 31px;
    }
    .ser-sevice-grid {
        padding: 1.5em 1.5em;
    }
    .sevice-w3layouts-inner span {
        font-size: 30px;
    }
    .price-list-txt ul li {
        padding-top: 7px;
    }
    .price-w3layouts-table span.number-price {
        font-size: 24px;
    }
    .about-icon-position img {
        left: 149px;
        width: 19%;
    }
    .team-row-grid {
        width: 73%;
    }
    .footer-icon span,
    .sevice-one-inner span {
        line-height: 29px;
    }
}

@media(max-width:384px) {
    .main-banner h4 {
        font-size: 2em;
    }
    .read-buttn a,
    .view-buttn a {
        padding: 7px 16px;
    }
    .main-top {
        min-height: 406px;
    }
    .style-banner {
        padding-top: 10em;
    }
    .about-icon-position img {
        left: 134px;
    }
    .team-row-grid {
        width: 80%;
    }
    .popup {
        max-width: 324px;
        padding: 2em 2em;
    }
}

@media(max-width:375px) {
    .sevice-w3layouts-inner span {
        font-size: 28px;
    }
    .price-w3layouts-table span.number-price {
        font-size: 22px;
    }
    button.btn1 {
        font-size: 14px;
    }
    .team-row-grid {
        width: 86%;
    }
    .gallery-mid-two {
        width: 80%;
        margin: 0px auto;
    }
}

@media(max-width:320px) {
    .main-banner h4 {
        font-size: 1.7em;
    }
    .title-wls-text p {
        font-size: 14px;
    }
    .about-icon-position img {
        left: 104px;
        top: -38px;
        width: 24%;
    }
    .ser-sevice-grid {
        padding: 1.2em 1.3em;
    }
    .footer-main-grid h2 a {
        font-size: 20px;
    }
    .team-row-grid {
        width: 95%;
    }
    .popup {
        max-width: 279px;
    }
    .gallery-mid-two {
        width: 93%;
    }
}

/*--//responsive--*/